@font-face {
    font-family: 'Norwester';
    src: url('/fonts/norwester.otf');
}
* {
    font-family: 'Roboto';
}
body {
    margin: 0;
    padding: 0;
}
.cont {
    height: 100vh;
    width: 100%;
    scroll-snap-type: proximity;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y proximity;
    overflow-y: scroll;

}
header {
    background: white;

}
header ul li {
    font-family: 'Acme';
    font-size: 18px;
    color: #aa00a2;

}
header h2 {
    font-family: 'Montserrat';
}
.section-1-1  {
    padding-top: 100px;
}
.about {
    display: flex;
    margin-top: 30%;
    text-align: left;
    justify-content: center;
}
.about h1 {
    font-family: 'Poppins';
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
}
.navbar-brand {
    font-family: "Roboto";
}
@keyframes border {
    
    0% {border: none;}
    25% {border-left: 2px solid cyan;}
    50% {border-top: 2px solid cyan;} 
    75% {border-right: 2px solid cyan;}
    100% {border-bottom: 2px solid cyan;}
    
}
.more {
    position: absolute;
    z-index: 1001;
    margin-top: 30px;
    margin-left: 15%;
    border: 2px solid #aa00a2;
    color: white;
    background: #aa00a2;
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0.5px rgba(170, 0, 162);
}
.more:hover {
    transition: 1s;
    background: #aa00a2;
    color: white;
    animation: border 1s linear infinite;
}
.imga {
    display: absolute;
    width: 400px;
    height: 400px;
    background: #000;
    justify-content: center;
    margin-top: calc(50% - 200px );
    margin-left: calc(50% - 200px);
    border-radius: 50%;
    z-index: 1000;
}
.under-title {
    display: flex;
    text-align: left;
    justify-content: center;
    margin-top: 10px;
    color: rgb(43, 39, 39);
}
.section-1 {
    background: white;
    display: flex;
}
.section-1-2 {
    height: 100%;
    width: 50%;
    z-index: 1000;
}
.section-1-1 {
    height: 100%;
    width: 50%;
    z-index: 1000;
}
.section-2 {
    margin-top: 90vh;
    width: 100%;
    display: flex;
}
section {
    height: 100vh;
    width: 100%;
}
.section-2-1 {
    width: 40%;
}
.section-2-2 {
    width: 60%;
    text-align: center;
}
.paragraph {
    width: 100%;
    text-align: left;
    justify-content: center;
}
.paragraph p {
    overflow: hidden;
    justify-content: center;
    float: right;
    width: 70%;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: 20%;
}
.paragraph h2 {
    margin-left: 30%;
    margin-top: 30%;
    color: #aa00a2;
    font-family: 'Inter';
    font-weight: bold;
    text-shadow: 0px 0px 0px 4px black;
}
.analyses {
    margin-left: 2.5%;
    margin-top: 25%;
    width: 85%;
    height: 85%;
    text-align: center;
}
.analyses p {
    margin-bottom: 0px;
}
.bar {
    width: 90%;
    height: 20px;
    background: rgb(212, 212, 212);
    border-radius: 5px;
    margin-bottom: 20px;
}
.f-bar {
    background: #9534b3;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 20px;
    color: white;
    font-size: 15px;
}
.section3 {
    position: absolute;
    width: 100%;
    background: white;
    margin-top: 200vh;
    justify-content: center;
    text-align: center;
}
.section-3 {
    justify-content: center;
    text-align: center;
}
.section4 {
    position: absolute;
    width: 100%;
    margin-top: 300vh;
    height: 50%;
    text-align: center;
    align-items: center;
}
.linkss {
    gap: 100px;
    justify-content: center;
    text-align: center;
}
.links {
    display: inline-block;
}
.links:hover {
    transform: rotate(45deg);
}
.particles-js {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1000;
}
.projects {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 10%;
    height: 100%;
    margin-top: 50px;
    gap: 5%;
}
.elements {
    width: 30%;
    border-radius: 10px;
    border: 2px solid #aa00a2;
    overflow: hidden;
    box-shadow: 10px 10px 15px 1px grey;
    margin-top: 20px;
}
.p-img {
    width: 100%;
    height: 125%;
    border-radius: 10px;
    object-fit: cover;
}
.p-links:hover .p-img{
    overflow: hidden;
    transition: 2s;
    transform: scale(1.2);
    filter: grayscale(70%);
}
.p-links:hover .text-image {
    display: block;
}
@keyframes wid1 {
    0% {width: 0%;}
    100% {width: 90%;}
}
@keyframes wid2 {
    0% {width: 0%;}
    100% {width: 80%;}
}
@keyframes wid3 {
    0% {width: 0%;}
    100% {width: 70%;}
}
@keyframes wid4 {
    0% {width: 0%;}
    100% {width: 60%;}
}
.text-image {
    margin-top: 15%;
    font-size: 22px;
    color: rgb(0, 119, 255);
    z-index: 2000;
    font-family: 'Norwester';
    display: none;
}
.link {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-top: 10%;
    color: white;
    font-size: 55px;
}
.link i {
    margin-top: 5px;
}
@media screen and (max-width: 700px) {
    ul {
        display: none;
    }
    .navbar-brand {
        margin-left: 0px;
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    .section-1 {
        display: block;
    }
    .section-1-2 {
        margin-top: 20px;
        position: relative;
        width: 100%;
        height: 80%;
        align-items: center;
        text-align: center;
    }
    .imga {
        margin-top: 50px;
        margin-left: 0px;
        align-self: center;
        height: 250px;
        width: 250px;
    }
    .section-1-1 {
        width: 100%;
        margin-top: -100%;
    }
    .more {
        width: 60%;
        margin-left: 20%;
        height: 50px;
        margin-top: 5px;
    }
    .about h1 {
        font-size: 30px;
    }
    .section-2 {
        display: block;
    }
    .section-2-1 {
        width: 100%;
    }
    .paragraph p {
        margin-right: 10%;
        width: 80%;
        font-size: 14px;
        justify-content: center;
    }
    .paragraph h2 {
        margin-left: 0;
        text-align: center;
    }
    .section-2-2 {
        width: 100%;
    }
    .analyses {
        margin-left: 10%;
        width: 80%;
    }
    .bar {
        width: 100%;
    }
    .projects {
        display: block;
    }
    .elements {
        width: 100%;
        margin-top: 10px;
    }
    .projects {
        width: 90%;
        margin-left: 5%;
    }
    .section4 {
        margin-top: 360vh;
    }
    .linkss {
        flex-wrap: wrap;
        gap: 10px;
    }
}